task: longemotion_emotion_detection
task_alias: Emotion Detection
tag:
  - longemotion
  - emotion_detection

dataset_path: json
dataset_kwargs:
  data_files: ./data/Emotion_Detection.jsonl
test_split: train

output_type: generate_until
generation_kwargs:
  until:
    - "```\n"
  temperature: 0.8
  top_p: 0.9
  max_gen_toks: 8192

doc_to_text: |
  There are {{text | length}} texts in the text list.

  Text list:
  {{ text | tojson }}

  Only return the selected index in the output, without any additional content.

  Please provide your answer in a structured JSON format as follows: 
  
  ```json
  {% raw %}{"index": ...}{% endraw %}
  ```
doc_to_target: "{{ground_truth}}"

filter_list:
  - name: "json_extract"
    filter:
      - function: !function utils.ExtractIndexFilter

metric_list:
  - metric: exact_match
    aggregation: mean
    higher_is_better: true

metadata:
  version: 1.0