task: longemotion_emotion_classification_emobench
task_alias: Emotion Classification (Emobench)
tag:
  - longemotion
  - emotion_classification

dataset_path: json
dataset_kwargs:
  data_files: ./data/Emotion_Classification_Emobench.jsonl
test_split: train

output_type: generate_until
generation_kwargs:
  until:
    - "\n\n"
    - "```\n"
  temperature: 0.8
  top_p: 0.9
  max_gen_toks: 256

# process_docs: !function utils.process_docs

doc_to_text: |
  Scenario:\n
  {{content}}
  Question: What emotion(s) would {{subject}} ultimately feel in this situation?
  Choices:\n{{choices | join(', ')}}
  Only return the selected label in the output, without any additional content.
  Please provide your answer in a structured JSON format as follows: 
  ```json
  {% raw %}{"Emotion": ...}{% endraw %}
  ```
doc_to_target: "{{label}}"

filter_list:
  - name: "json_extract"
    filter:
      - function: !function utils.ExtractEmotionFilter

metric_list:
  - metric: exact_match
    aggregation: mean
    higher_is_better: true
    ignore_case: true
    ignore_punctuation: true

metadata:
  version: 1.0